<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <table border="1">
        <tr>
            <th>Nome:</th>
            <th>CPF:</th>
			<th>Endereço:</th>
        </tr>
        <% clientes.forEach(cliente => { %>
        <tr>
            <td> <%= cliente.nome %> </td>
            <td> <%= cliente.cpf %> </td>
			<td> <%= cliente.cidade %> </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>